body, html {
    font-family: 'Anton', sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
}
.titre, .finish {
    width: 500px;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
}
.barre {
    width: 500px;
    height: 55px;
    border: 5px solid #dd4d00;
    border-radius: 8px;
    position: relative;
    z-index: 100;
}
.content-barre {
    width: 0;
    height: 55px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: #fff;
    opacity: 0.75;
}